/* Common classes */

.big-button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 48px;
  width: 140px;
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
}

.card {
  margin: var(--content-spaceing);
  padding: var(--content-spaceing);
  background-color: var(--color-light-grey);
}

/* Product section */

main > p {
  margin: var(--content-spaceing);
}

main h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.product-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: var(--content-spaceing);
}

.product-body {
  position: relative;
  width: 100%;
}

.product-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Selects */

.select-wrapper {
  margin-bottom: 20px;
}

.select-group {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 56px;
  justify-items: center;
  background: #fff;
  font-size: 12px;
  padding-right: 1px;
  box-sizing: border-box;
  padding-right: 34px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  margin: 24px 0;
}

.select-group > select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  border: 0 none;
  margin: 0;
  padding: 16px 20px 4px 20px;
  outline: none;
  background: transparent;
  display: block;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
}

.select-group > label {
  font-size: 11px;
  padding: 0px 20px 4px 20px;
}

/* Checkbox */
.checkbox-wrapper {
  margin-bottom: 20px;
}

.checkbox-group input {
  accent-color: var(--color-green);
  width: 18px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.checkbox-group label {
  vertical-align: middle;
}

/* Buttons */
.color-button {
  background-color: var(--color-green);
  color: var(--color-white);
}

.color-button-inverse {
  background-color: var(--color-white);
  color: var(--color-green);
}

.color-button-alt {
  color: var(--color-orange);
}

/* Table */

.tg {
  border-collapse: collapse;
}
.tg td {
  font-size: 14px;
  overflow: hidden;
}
.tg th {
  color: var(--color-orange);
  font-size: 14px;
  overflow: hidden;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
