.product-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.product-body {
  position: relative;
  width: 100%;
}

.product-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.tg {
  border-collapse: collapse;
}
.tg td {
  font-size: 14px;
  overflow: hidden;
}
.tg th {
  color: var(--color-orange);
  font-size: 14px;
  overflow: hidden;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
