/* General selectors */

main {
  h1 {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: var(--h1-line-height);
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

section {
  h2 {
    line-height: var(--h2-line-height);
  }

  p {
    line-height: var(--p-line-height);
  }

  a {
    font-weight: 600;
    margin-left: var(--content-spaceing);
  }
}

/* Common classes */

.card {
  margin: 0 var(--content-spaceing);
  padding: var(--content-spaceing);
  background-color: var(--color-light-grey);

  p {
    margin-bottom: var(--content-spaceing);
  }

  strong {
    &:last-child {
      color: var(--color-orange);
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    margin: 0;
    max-width: 464px;
  }
}

/* Buttons */

.big-button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 48px;
  width: 140px;
  font-weight: 600;
  font-size: 16px;
}

.color-button {
  background-color: var(--color-green);
  color: var(--color-white);
}

.color-button-inverse {
  background-color: var(--color-white);
  color: var(--color-green);
}

.color-button-alt {
  color: var(--color-orange);
}

/* Routing tree */

#routing-tree {
  margin: var(--content-spaceing);

  ul {
    margin-top: 40px;
    font-size: 16px;
    list-style: none;
    padding: 0;

    li {
      display: inline;

      + {
        li {
          &:before {
            padding: 10px;
            content: ">";
          }
        }
      }

      a {
        margin: 0;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #routing-tree {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

/* Product header */

#product-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-header {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

.product-header-buttons {
  margin: 0 0 7px 8px;
  white-space: nowrap;
  align-self: flex-end;
}

@media only screen and (min-width: 768px) {
  .product-header-buttons {
    align-self: initial;
  }
}

/* Product section */

#product-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1432px) {
  #product-wrapper {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  #product-wrapper {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

.product-slider {
  position: relative;
  max-width: 696px;

  img {
    width: 100%;
  }
}

.product-slider-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  > button {
    margin: 0 10px;
    height: 48px;
    width: 48px;
    background-color: var(--color-light-grey);
    border-radius: 50%;
  }
}

/* Selects */

.select-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .select-wrapper {
    justify-content: space-between;
  }
}

.select-group {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 56px;
  width: 100%;
  background: #fff;
  font-size: 12px;
  padding-right: 34px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  margin: 12px 0;
  box-sizing: border-box;

  > select {
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 2;
    width: 100%;
    border: 0 none;
    margin: 0;
    padding: 16px 20px 4px 20px;
    outline: none;
    background: transparent;
    display: block;
    font-size: 14px;
    line-height: 18px;
    height: 100%;
  }

  > label {
    font-size: 11px;
    padding: 4px 20px 4px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .select-group {
    max-width: 220px;
  }
}

/* Checkbox */

.checkbox-wrapper {
  margin-bottom: 20px;
}

.checkbox-group {
  input {
    accent-color: var(--color-green);
    width: 18px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
  }

  label {
    vertical-align: middle;
  }
}

/* Product description links */

#product-description-links {
  margin: var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-description-links {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}
