/* Common classes */

.card {
  max-width: 464px;
  padding: var(--content-spaceing);
  background-color: var(--color-light-grey);
}

.card p {
  margin-bottom: var(--content-spaceing);
}

.card strong:last-child {
  color: var(--color-orange);
}

/* Lightbox */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000;
}

.lightbox > div,
.lightbox form {
  position: relative;
  display: flex;
  flex-direction: column;
}

#lightbox-close-button {
  position: absolute;
  right: 14px;
  top: 14px;
}

.lightbox > div {
  background-color: var(--color-white);
  padding: 14px;
  width: 480px;
  height: 412px;
}

.lightbox input {
  padding: 1rem;
  border: none;
  margin-bottom: 0.6rem;
  background-color: var(--color-light-grey);
}

.lightbox-button-wrapper {
  align-self: flex-end;
}

.close-lightbox {
  display: none;
}

/* Buttons */

.big-button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 48px;
  width: 140px;
  font-weight: 600;
  font-size: 16px;
}

.color-button {
  background-color: var(--color-green);
  color: var(--color-white);
}

.color-button-inverse {
  background-color: var(--color-white);
  color: var(--color-green);
}

.color-button-alt {
  color: var(--color-orange);
}

.active {
  color: black;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -3.1rem;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: black;
}

/* General selectors */

main h1,
main h2,
main p {
  margin: 0;
  padding: 0;
}

main h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: var(--h1-line-height);
}

section h2 {
  line-height: var(--h2-line-height);
}

section p {
  line-height: var(--p-line-height);
}

section a {
  font-weight: 600;
  margin-left: var(--content-spaceing);
}

/* Routing tree */

#routing-tree {
  margin: var(--content-spaceing);
}

#routing-tree ul {
  margin-top: 40px;
  font-size: 16px;
  list-style: none;
  padding: 0;
}

#routing-tree ul li {
  display: inline;
}

#routing-tree ul li + li:before {
  padding: 10px;
  content: ">";
}

#routing-tree ul li a {
  margin: 0;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  #routing-tree {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

/* Product header */

#product-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-header {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

/* Product section */

#product-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  #product-wrapper {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

@media only screen and (min-width: 1432px) {
  #product-wrapper {
    justify-content: space-between;
  }
}

.product-slider {
  position: relative;
  max-width: 696px;
}

.product-slider img {
  width: 100%;
}

.product-slider-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.product-slider-buttons > button {
  margin: 0 10px;
  height: 48px;
  width: 48px;
  background-color: var(--color-light-grey);
  border-radius: 50%;
}

/* Selects */

.select-wrapper {
  margin-bottom: 20px;
}

.select-group {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 56px;
  max-width: 288px;
  justify-items: center;
  background: #fff;
  font-size: 12px;
  padding-right: 1px;
  box-sizing: border-box;
  padding-right: 34px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  margin: 24px 0;
}

.select-group > select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  border: 0 none;
  margin: 0;
  padding: 16px 20px 4px 20px;
  outline: none;
  background: transparent;
  display: block;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
}

.select-group > label {
  font-size: 11px;
  padding: 0px 20px 4px 20px;
}

/* Checkbox */

.checkbox-wrapper {
  margin-bottom: 20px;
}

.checkbox-group input {
  accent-color: var(--color-green);
  width: 18px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.checkbox-group label {
  vertical-align: middle;
}

/* Product description links */

#product-description-links {
  margin: var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-description-links {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

/* Product Description */

#product-description {
  margin: var(--content-spaceing);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  #product-description {
    margin: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

@media only screen and (min-width: 1432px) {
  #product-description {
    justify-content: space-between;
  }
}

#product-description button {
  margin-top: var(--content-spaceing);
}

#product-description img {
  max-width: 100%;
  align-self: center;
}

.description {
  width: 100%;
  margin: var(--content-spaceing) 0;
  order: 2;
}

@media only screen and (min-width: 768px) {
  .description {
    margin: 0 0 var(--content-spaceing) 0;
    max-width: 604px;
    order: 1;
  }
}

.description p {
  max-width: 488px;
}

.description-image-wrapper {
  height: 444px;
  display: flex;
  order: 1;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .description-image-wrapper {
    height: 444px;
    max-width: 604px;
    order: 2;
  }
}

/* Product Specifications */

#product-specifications {
  background-color: var(--color-light-grey);
  padding: var(--content-spaceing) var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-specifications {
    padding: var(--content-spaceing)
      var(--content-spaceing-desktop);
  }
}

/* Table */

.tg {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tg td {
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2rem;
}

tr:nth-child(odd) {
  background: var(--color-white);
}

.tg th {
  background-color: var(--color-light-grey);
  color: var(--color-orange);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2rem;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: center;
  padding: 7px 20px;
}
