/* Common classes */

.card {
  max-width: 464px;
  padding: var(--content-spaceing);
  background-color: var(--color-light-grey);
}

.card p {
  margin: 0;
  margin-bottom: var(--content-spaceing);
}

.card strong:last-child {
  color: var(--color-orange);
}

/* Buttons */

.big-button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 48px;
  width: 140px;
  font-weight: 600;
  font-size: 16px;
}

.color-button {
  background-color: var(--color-green);
  color: var(--color-white);
}

.color-button-inverse {
  background-color: var(--color-white);
  color: var(--color-green);
}

.color-button-alt {
  color: var(--color-orange);
}

/* General selectors */

main h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: var(--h1-line-height);
}

section p,
section h2 {
  margin: var(--content-spaceing);
}

section h2 {
  line-height: var(--h2-line-height);
}

section p {
  line-height: var(--p-line-height);
  max-width: 488px;
}

section a {
  font-weight: 600;
  margin-left: var(--content-spaceing);
}

/* Routing tree */

#routing-tree {
  margin-left: var(--content-spaceing);
  margin-top: 40px;
}

#routing-tree > small {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  #routing-tree {
    margin-left: var(--content-spaceing-desktop);
  }
}

/* Product header */

#product-header {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-header {
    margin: 0 var(--content-spaceing-desktop);
  }
}

/* Product section */

#product-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-wrapper {
    margin: 0 var(--content-spaceing-desktop);
  }
}

.product-slider {
  position: relative;
}

.product-slider {
  max-width: 696px;
}

.product-slider-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.product-slider-buttons > button {
  margin: 0 15px;
  height: 48px;
  width: 48px;
  background-color: var(--color-light-grey);
  border-radius: 50%;
}

/* Selects */

.select-wrapper {
  margin-bottom: 20px;
}

.select-group {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 56px;
  max-width: 288px;
  justify-items: center;
  background: #fff;
  font-size: 12px;
  padding-right: 1px;
  box-sizing: border-box;
  padding-right: 34px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  margin: 24px 0;
}

.select-group > select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  border: 0 none;
  margin: 0;
  padding: 16px 20px 4px 20px;
  outline: none;
  background: transparent;
  display: block;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
}

.select-group > label {
  font-size: 11px;
  padding: 0px 20px 4px 20px;
}

/* Checkbox */

.checkbox-wrapper {
  margin-bottom: 20px;
}

.checkbox-group input {
  accent-color: var(--color-green);
  width: 18px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.checkbox-group label {
  vertical-align: middle;
}

/* Product description links */

#product-description-links {
  margin: 0 var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-description-links {
    margin: 0 var(--content-spaceing-desktop);
  }
}

/* Product Description */

#product-description {
  margin: 0 var(--content-spaceing);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  #product-description {
    margin: 0 var(--content-spaceing-desktop);
  }
}

#product-description > img {
  order: 2;
}

@media only screen and (max-width: 768px) {
  #product-description > img {
    order: 1;
  }
}

#product-description > div {
  order: 1;
}

@media only screen and (max-width: 768px) {
  #product-description > div {
    order: 2;
  }
}

#product-description button {
  margin-left: var(--content-spaceing);
}

img[alt="img2"] {
  object-fit: cover;
  object-position: 0px -100px;
  max-width: 592px;
  height: 444px;
  margin-left: 80px;
}

/* Product Specifications */

#product-specifications {
  background-color: var(--color-light-grey);
  padding: 0 var(--content-spaceing);
}

@media only screen and (min-width: 768px) {
  #product-specifications {
    padding: 0 var(--content-spaceing-desktop);
  }
}

/* Table */

.tg {
  border-collapse: collapse;
}

.tg td {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2rem;
}

tr:nth-child(even) {
  background: var(--color-light-grey);
}

.tg th {
  color: var(--color-orange);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2rem;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
