/* Header */

header {
  position: relative;
  height: 78px;
  padding: 0 var(--content-spaceing);
  background-color: #fe5e41;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  margin: 0;
}

header a {
  color: white;
}

header input {
  padding: 0.3rem 0.5rem;
  padding-top: 0.7rem;
  border: none;
}

header button {
  position: relative;
  color: white;
}

.header-buttons button:last-child:after {
  content: "1";
  position: absolute;
  bottom: -8px;
  right: -8px;
  background-color: var(--color-green);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 26px;
  left: 73px;
  font-size: 28px;
}

#open-nav {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }

  #open-nav {
    display: block;
  }
}
