/* Header */

header {
  height: 78px;
  background-color: #fe5e41;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > * {
  margin: 0.4rem;
}

header h2 {
  margin: 0;
}

header a {
  color: white;
}

header input {
  padding: 0.3rem 0.5rem;
  padding-top: 0.7rem;
  border: none;
}

header button {
  color: white;
}

#open-nav {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }

  #open-nav {
    display: block;
  }
}
