/* Header */
header {
  position: relative;
  height: 78px;
  padding: 0 var(--content-spaceing);
  background-color: var(--color-orange);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    height: 56px;
    border: none;
    padding: 0 16px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 120px;
  }
}

.header-left {
  display: flex;
  align-items: center;
}

#open-nav {
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  #open-nav {
    /* display: none; */
  }
}

nav {
  display: none;

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    position: relative;
    color: var(--color-white);
    margin: 0 calc(var(--content-spaceing) * 0.4);
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1250px) {
  nav {
    a {
      margin: 0 var(--content-spaceing);
    }
  }
}

.logo {
  position: relative;
  margin: 0 20px 0 30px;
  font-size: 28px;

  h2 {
    margin: 0;
  }
}

.nav-links {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-input {
  position: relative;
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  i {
    margin-left: 12px;
    position: relative;
    color: var(--color-white);
    font-size: 24px;
  }
}
