/* Header */
header {
  position: relative;
  height: 78px;
  padding: 0 var(--content-spaceing);
  background-color: var(--color-orange);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    height: 56px;
    border: none;
    padding: 0 16px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 120px;
  }
}

.header-left {
  display: flex;
  align-items: center;
}

#open-nav {
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  #open-nav {
    display: none;
  }
}

nav {
  display: none;

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    position: relative;
    color: var(--color-white);
    margin: 0 calc(var(--content-spaceing) * 0.4);
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1250px) {
  nav {
    a {
      margin: 0 var(--content-spaceing);
    }
  }
}

.logo {
  position: relative;
  margin: 0 20px 0 30px;
  font-size: 28px;

  h2 {
    margin: 0;
  }
}

.nav-links {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-input {
  position: relative;
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  i {
    margin-left: 12px;
    position: relative;
    color: var(--color-white);
    font-size: 24px;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-input {
    input {
      display: inline;
      margin-left: var(--content-spaceing);
    }

    i {
      position: absolute;
      right: 15px;
      font-size: 20px;
      color: var(--color-semi-black);
    }
  }
}

.header-buttons {
  white-space: nowrap;

  button {
    position: relative;
    color: var(--color-white);

    &:last-child {
      &:after {
        content: "1";
        position: absolute;
        bottom: -8px;
        right: -8px;
        background-color: var(--color-green);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header-buttons {
    margin: 0 70px 0 35px;
  }
}

.header-buttons {
  white-space: nowrap;

  button {
    position: relative;
    color: var(--color-white);

    &:last-child {
      &:after {
        content: "1";
        position: absolute;
        bottom: -8px;
        right: -8px;
        background-color: var(--color-green);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header-buttons {
    margin: 0 70px 0 35px;
  }
}

.active {
  color: var(--color-semi-black);

  &::after {
    content: "";
    position: absolute;
    bottom: -3.1rem;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-semi-black);
  }
}
