/* Lightbox */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000;
}

.lightbox > div,
.lightbox form {
  position: relative;
  display: flex;
  flex-direction: column;
}

#lightbox-close-button {
  position: absolute;
  right: 14px;
  top: 14px;
}

.lightbox > div {
  background-color: var(--color-white);
  padding: 14px;
  width: 480px;
  height: 412px;
}

.lightbox input {
  padding: 1rem;
  border: none;
  margin-bottom: 0.6rem;
  background-color: var(--color-light-grey);
}

.lightbox-button-wrapper {
  align-self: flex-end;
}

.close-lightbox {
  display: none;
}
