/* Lightbox */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000;

  > div {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-white);
    padding: 14px;
    width: 480px;
    height: 412px;
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  input {
    padding: 1rem;
    border: none;
    margin-bottom: 0.6rem;
    background-color: var(--color-light-grey);
  }

  textarea {
    padding: 1rem;
    border: none;
    margin-bottom: 0.6rem;
    background-color: var(--color-light-grey);
    resize: none;
    height: 200px;
  }
}

#lightbox-close-button {
  position: absolute;
  right: 14px;
  top: 14px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lightbox-button-wrapper {
  align-self: flex-end;
}

.close-lightbox {
  display: none;
}
